<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<fieldset>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="아이디 입력" required/>
        <input type="password" name="password" placeholder="비밀번호 입력" required/>
        <input type="submit" value="로그인"/>
    </form>
</fieldset>
</form>
</body>
</html>